body {

  text-align: center;
  background-color: rgba(47, 48, 58, 0.4);
  /* background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./img/sky.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  color: #fffbef;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fffbef;
}

a:hover {
  color: #fffbef;
}

.celsius,
.fahrenheit {
  font-weight: bold;
  color: rgb(219, 106, 41);
  text-shadow: 2px 2px 4px #ffffff;
}

.celsius:hover,
.fahrenheit:hover {
  color: rgb(219, 106, 41);
}

.active {
  font-weight: 400;
  color: #fffbef;
  text-shadow: none;
}

.active:hover {
  cursor: context-menu;
  color: #fffbef;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(54, 52, 51, 0.5);
  border-radius: 15px;
}

.hero-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 515px;
  margin-left: auto;
  margin-right: auto;
}

.city-container {
  margin-top: 20px;
}

h1 {
  color: #fffbef;
  font-size: 34px;
  margin: 0;
}

.current-weather {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-git {
  margin-right: 5px;
  margin-left: 5px;
}

.icon-weather {
  height: 10px;
  margin-right: 10px;
}

h2 {
  font-size: 24px;
  margin: 0;
}

.title-img {
  display: block;
}

.temp {
  font-size: 34px;
  margin: 0;
  padding: 10px;
  background-color: rgba(54, 52, 51, 0.5);
  border-radius: 15px;
}

.temp span,
.days span {
  font-weight: bold;
}

li {
  transition: all 200ms ease-in-out;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

li:not(:last-child) {
  border-bottom: 1px solid #fffbef;
}

/* search */
.search {
  max-width: 100%;
  margin-top: 20px;
}

.search input {
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 43px;
}

.search-button,
.current-city {
  color: white;
  background-color: rgba(54, 52, 51, 0.5);
  border: 1px solid rgba(54, 52, 51, 0.5);
  height: 43px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 5px;
  margin-top: 15px;
  transition: all 200ms ease-in-out;
}
.current-city {
  background-color: rgb(219, 106, 41);
  border: 1px solid rgb(219, 106, 41);
}
.search-button:hover,
.current-city:hover {
  color: rgba(54, 52, 51, 0.5);
  background-color: white;
  border: 1px solid rgba(54, 52, 51, 0.5);
  cursor: pointer;
}
.current-city:hover {
  color: rgb(219, 106, 41);
  border: 1px solid rgb(219, 106, 41);
}
.search-icon {
  margin-right: 5px;
}
